In [17]:
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.corpus import stopwords

corp1 ="India, officially the Republic of India (Hindi: Bhārat Gaṇarājya), is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west; China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia. The nation's capital city is New Delhi."
corp2 ="The Voyager program is an American scientific program that employs two robotic interstellar probes, Voyager 1 and Voyager 2. They were launched in 1977 to take advantage of a favorable alignment of Jupiter and Saturn, to fly near them while collecting data for transmission back to Earth. After launch the decision was taken to send Voyager 2 near Uranus and Neptune to collect data for transmission back to Earth."
corp3 ="A black hole is a region of spacetime where gravity is so strong that nothing, including light or other electromagnetic waves, has enough energy to escape it. The theory of general relativity predicts that a sufficiently compact mass can deform spacetime to form a black hole. The boundary of no escape is called the event horizon. Although it has a great effect on the fate and circumstances of an object crossing it, it has no locally detectable features according to general relativity. In many ways, a black hole acts like an ideal black body, as it reflects no light Moreover, quantum field theory in curved spacetime predicts that event horizons emit Hawking radiation, with the same spectrum as a black body of a temperature inversely proportional to its mass. This temperature is of the order of billionths of a kelvin for stellar black holes, making it essentially impossible to observe directly."
corp4 ="Hawking's scientific works included a collaboration with Roger Penrose on gravitational singularity theorems in the framework of general relativity, and the theoretical prediction that black holes emit radiation, often called Hawking radiation. Initially, Hawking radiation was controversial. By the late 1970s and following the publication of further research, the discovery was widely accepted as a major breakthrough in theoretical physics. Hawking was the first to set out a theory of cosmology explained by a union of the general theory of relativity and quantum mechanics. He was a vigorous supporter of the many-worlds interpretation of quantum mechanics."

### removing stopwords and special characters

In [18]:
def stop_rem(corpus):
    words=[]
    for word in  word_tokenize(corpus):
        if (word.lower()  not in stopwords.words('english')) and (len(word)>=2):
            words.append(word.lower())
    return words

In [19]:
corp_1_words=stop_rem(corp1)
corp_2_words=stop_rem(corp2)
corp_3_words=stop_rem(corp3)
corp_4_words=stop_rem(corp4)

### creating vocab

In [20]:
def voceb(words):
    vocab=list(set(words))
    return vocab

In [21]:
vocab_1=voceb(corp_1_words)
vocab_2=voceb(corp_2_words)
vocab_3=voceb(corp_3_words)
vocab_4=voceb(corp_4_words)

### creating count dictrionary

In [61]:
def wordFreq(vocab):
    word_freq={}
    for word in vocab:
        word_freq[word]=0
    return word_freq

In [62]:
word_freq_1=wordFreq(vocab_1)
word_freq_2=wordFreq(vocab_2)
word_freq_3=wordFreq(vocab_3)
word_freq_4=wordFreq(vocab_4)

In [63]:
def freq(corp,word_freq):
    for word in corp:
        word_freq[word]=word_freq[word] + 1
    return word_freq

In [64]:
word_freq1=freq(corp_1_words,word_freq_1)
word_freq2=freq(corp_2_words,word_freq_2)
word_freq3=freq(corp_3_words,word_freq_3)
word_freq4=freq(corp_4_words,word_freq_4)

In [68]:
import pandas as pd

In [69]:
def making_df(word_freq):
    data=[]

    for key in word_freq.keys():
        data.append([key,word_freq[key]])
    df=pd.DataFrame(data,columns=['key','key_freq'])
    return df

In [72]:
df1=making_df(word_freq1)
df2=making_df(word_freq2)
df3=making_df(word_freq3)
df4=making_df(word_freq4)

In [74]:
df1.head()

         key  key_freq
0   maritime         1
1  southeast         1
2    andaman         1
3    capital         1
4     shares         1

In [78]:
df1.sort_values(by='key_freq',ascending=False).head(3)

        key  key_freq
32  country         3
12    india         3
41  myanmar         2

In [79]:
df2.sort_values(by='key_freq',ascending=False).head(3)

             key  key_freq
17       voyager         4
0           data         2
24  transmission         2

In [80]:
df3.sort_values(by='key_freq',ascending=False).head(3)

          key  key_freq
35      black         6
15       hole         3
12  spacetime         3

In [81]:
df4.sort_values(by='key_freq',ascending=False).head(3)

          key  key_freq
37    hawking         4
18  radiation         3
25    quantum         2